body {
    background-color:orange;
    color: rgb(255, 0, 0);
}

.heading {
    width: 80%;
    font-size: 30px;
    color: deeppink;
}

.name_of_objects, #result_object_name , #result_object_accuracy {
    color: rgb(0, 255, 200);
}

#camera , #Image_result {
    width: 350px;
    height: 300px;
    border: 2px dashed;
}